html{
  height: 100%;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

body{
  background-color: rgb(45, 45, 45);
  padding: 0%;
  margin: 0%;
  height: 100%;
}

a{
  text-decoration: none !important;
  color: white !important;
}
a:hover{
  color: black !important;
}

/* for dashboard */
#roomCodeInputDiv{
  position: absolute;
  height: 30%;
  left:25%;
  top:-100%;
  z-index: 1 !important;
  border: 1px solid white !important;
  border-radius: 10px;
  transition: 0.5s;
}
#roomCodeInput{
  width: 50%;
  font-size: 1.5vw;
  text-align: center;
}

#playerDetailExpanded{
  position: absolute !important;
  height: 450px;
  top:-450px;
  transition: 0.5s;
}
#dashboardSmall{
  display: none;
}
.dashboardButton{
  background-color: rgb(30, 30, 30) !important;
  border: 2px solid white !important;
  border-radius: 10px;
}

.dashboardButton:hover{
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid rgb(30, 30, 30) !important;
  color: black !important;
}

.profileCard{
  border: 2px solid white !important;
  border-radius: 10px;
}

.profilePicture{
  width: 30%;
  border:2px solid white;
  border-radius: 50%;
}

@media only screen and (max-width: 576px) {
  #dashboardLarge{
    display: none;
  }
  #dashboardSmall{
    display: inherit;
  }
} 


/* gameboard */
#winnerAnnoucmentDiv{
  position: absolute;
  transform: rotate(-2deg);
  height: 40%;
  width: 120%;
  left:-150%;
  top:30%;
  z-index: 1 !important;
  /*border: 1px solid white !important;*/
  border-top: 10px  solid pink;
  border-bottom: 10px  solid pink;
  border-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 20px,
    #ffb101 20px,
    #ffb101 40px
  ) 10;
  border-radius: 10px;
  transition: 0.5s;
}

.xPlayerCard::after{ 
  display: inline-block;
  position: relative;
  top: -63%;
  content: "";
  width: 10rem;
  height: 10rem;
  background-image: url(image/turnxbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.25;
  z-index: -1;
}
.oPlayerCard::after{ 
  display: inline-block;
  position: relative;
  top: -63%;
  content: "";
  width: 10rem;
  height: 10rem;
  background-image: url(image/turnobg.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.25;
  z-index: -1;
}

#playerInfoCardsSmall{
  display: none;
}

#playerInfoCardsMedium{
  display: none;
}

.table-block{
  width: 125px;
  height: 125px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  line-height: 50px;
  border: solid 2px white;
  text-align: center;
}
.table-H{
  width: 50px;
  height: 40px;
  color: white;
  font-size: 15px;
  text-align: center;
}
.table-block:hover{
  background-color: rgb(30, 30, 30);
}

@media only screen and (max-width: 576px) {
  /*html{
    background-color: blue;
  }*/
  .xPlayerCards::after{ 
    display: inline-block;
    position: absolute;
    content: "";
    width: 5.2rem;
    height: 5.2rem;
    background-image: url(image/turnxbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -999;
  }
  .oPlayerCards::after{ 
    display: inline-block;
    position: absolute;
    content: "";
    width: 5.2rem;
    height: 5.2rem;
    background-image: url(image/turnobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -999;
  }
  #playerInfoCardsLarge{
    display: none;
  }
  #playerInfoCardsMedium{
    display: none;
  }
  #playerInfoCardsSmall{
    display: inherit;
  }
  #playingBoard{
    width: 100%;
  }
  table{
    padding: 0%;
  }
  .table-block{
    width: 80px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    line-height: 50px;
    border: solid 2px white;
    text-align: center;
  }
  .table-H{
    width: 40px;
    height: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
  }
} 

@media only screen and (min-width:576px) and (max-width: 992px) {
  .xPlayerCardm::after{ 
    display: inline-block;
    content: "";
    width: 5rem;
    height: 5rem;
    background-image: url(image/turnxbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    opacity: 0.25;
    z-index: -1;
  }
  .oPlayerCardm::after{ 
    display: inline-block;
    position: relative;
    content: "";
    width: 5rem;
    height: 5rem;
    background-image: url(image/turnobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    opacity: 0.25;
    z-index: -1;
  }
  /*html{
    background-color: blue;
  }*/
  #playerInfoCardsLarge{
    display: none;
  }
  #playerInfoCardsMedium{
    display: inherit;
  }
  #playerInfoCardsSmall{
    display: none;
  }
  #playingBoard{
    width: 100%;
  }
  table{
    padding: 0%;
  }
  .table-block{
    width: 90px;
    height: 90px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    line-height: 50px;
    border: solid 2px white;
    text-align: center;
  }
  .table-H{
    width: 40px;
    height: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
  }
}

/* test */
.loginButton{
  background-color: rgb(30, 30, 30) !important;
  border: 2px solid white !important;
  width: 100% !important;
}

.loginButton:hover{
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid rgb(30, 30, 30) !important;
  color: black !important;
}