html{
  height: 100%;
  padding: 0%;
  margin: 0%;
  overflow-y: hidden;
}

body{
  background-color: rgb(45, 45, 45);
  padding: 0%;
  margin: 0%;
  height: 100%;
}

a{
  text-decoration: none !important;
  color: white !important;
}
a:hover{
  color: black !important;
}

/* for dashboard */
.dashboardButton{
  background-color: rgb(30, 30, 30) !important;
  border: 2px solid white !important;
  border-radius: 10px;
}

.dashboardButton:hover{
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid rgb(30, 30, 30) !important;
  color: black !important;
}

.profileCard{
  border: 2px solid white !important;
  border-radius: 10px;
}

.profilePicture{
  width: 30%;
  border:2px solid white;
  border-radius: 50%;
}

/* test */
.loginButton{
  background-color: rgb(30, 30, 30) !important;
  border: 2px solid white !important;
  width: 100% !important;
}

.loginButton:hover{
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid rgb(30, 30, 30) !important;
  color: black !important;
}